.heroContainer {
  padding: 12px 30px;
  padding-right: 70px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 80vh;
}
.notes {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.notes h1 {
  font-size: 28px;
  line-height: 2.6;
}
.notes p {
  font-size: 22px;
  font-style: italic;
  line-height: 1.5;
  margin-bottom: 25px;
}
.media {
  padding-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style: none;
  gap: 25px;
}

.heroImage {
  width: 250px;
  height: 180px;
  object-fit: cover;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  box-shadow: 12px 10px 4px 4px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}
.btn {
  margin: 20px 0;
  background-color: rgb(131, 113, 9);
  color: #fff;
  padding: 15px;
  width: 200px;
  border: none;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
}
