.navbar {
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 30px;
  font-size: 18px;
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); normal box-shadow */
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
}
.navbar h2 {
  color: #6859069a;
  cursor: pointer;
}
.listCont ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  margin-right: 50px;
  gap: 25px;
  font-size: 18px;
}
.listItem {
  font-size: 18px;
  text-transform: capitalize;
}
.listItem a {
  text-decoration: none;
  color: #1e1e1e;
  display: inline-block;
}
.login {
  background-color: #ceaf039a;
  background-color: rgb(131, 113, 9);
  padding: 10px;
  width: fit-content;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.login a {
  color: #ffffff;
  font-weight: bold;
}
